.div1{
    display: flex;
    padding: 15px;
   
   gap: 60px;

}
.sec1{
    box-shadow: 0px 0px 20px;
    background-color: blue;
}
.sec2{
    box-shadow: 0px 0px 20px;
    background-color: brown;
}
.sec3{
    background-color: green;
}
.sec4{
    box-shadow: 0px 0px 20px;
    background-color: yellow;
}
.sec5{
    box-shadow:0px 0px 20px ;
    background-color: black;
    color: aliceblue;
}
.sec6{
    box-shadow: 0px 0px 20px;
    background-color: blueviolet;
}
.div2{
      display: flex;
    padding: 15px;
   
    

   gap: 20px;

}
.div3{
      display: flex;
    padding: 15px;
   
   gap: 60px;

}
.head{
  text-align: center;
}

