header{
    background-color: brown;
    display: flex;
   gap: 20px;
   justify-content: center;
   padding: 30px;

}
.sec1{
    x
    
}
a{
    text-decoration: none;
    color:white;
    border        
    
}

   

    
