.box { 
    width: 200px; 
    height: 100px; 
    margin: 10px; 
    padding: 10px; 
    text-align: center; 
    font-weight: bold; 
    color: white; 
}
boxstatic{
    background-color: blue;
}
boxrelative{
    background-color: green;
}